---
import GroupFooterNav from "../components/blocks/GroupFooterNav.astro";
import Container from "../components/shared/Container.astro";
import FooterNav from "../components/shared/FooterNav.astro";
import Paragraph from "../components/shared/Paragraph.astro";

const footerLeistungen = [
  { itemText: "Wärmepumpen", itemLink: "#services" },
  { itemText: "Gas-Brennwert", itemLink: "#services" },
  { itemText: "Solarthermie", itemLink: "#services" },
  { itemText: "Brennstoffzellen", itemLink: "#services" },
  { itemText: "Wartung & Service", itemLink: "#services" },
];

const footerKontakt = [
  { itemText: "Tel: 0 24 52 / 8 60 43 56", itemLink: "tel:+4924528604356" },
  { itemText: "Mobil: 0174 / 3 21 34 93", itemLink: "tel:+491743213493" },
  { itemText: "info@scheeren-tec.de", itemLink: "mailto:info@scheeren-tec.de" },
];

const footerRechtliches = [
  { itemText: "Impressum", itemLink: "#" },
  { itemText: "Datenschutz", itemLink: "#" },
];
---

<div class="relative mt-16 bg-base-200 dark:bg-base-dark-800">
  <footer class="relative pt-28 rounded-t-3xl">
    <Container className="pb-8 relative overflow-auto ">
      <div
        class="grid grid-cols-2 lg:grid-cols-3 lg:items-stretch gap-8 relative"
      >
        <div class="col-span-2 lg:col-span-1 h-auto flex flex-col">
          <div class="h-full">
            <a href="#" class="relative flex items-center gap-3">
              <img src="/img/scheeren-logo.png" alt="Scheeren Tec GmbH" class="h-10" />
            </a>
            <Paragraph className={"mt-8"}>
              Ihr Spezialist für innovative Heizungsanlagen im Kreis Heinsberg.
              Energieberatung und Anlagenbau seit 2016.
            </Paragraph>
            <Paragraph className={"mt-4"}>
              Kirchstraße 4, 52525 Heinsberg
            </Paragraph>
          </div>

          <div class="min-h-max flex items-center gap-2 text-heading-3 mt-8 text-sm">
            <span>Vaillant Fachpartner</span>
            <span>|</span>
            <span>Geprüfter Gebäudeenergieberater (HWK)</span>
          </div>
        </div>

        <GroupFooterNav>
          <FooterNav title={"Leistungen"} navItems={footerLeistungen} />
          <FooterNav title={"Kontakt"} navItems={footerKontakt} />
        </GroupFooterNav>

        <GroupFooterNav>
          <FooterNav title={"Rechtliches"} navItems={footerRechtliches} />
        </GroupFooterNav>
      </div>
    </Container>
    <div class="py-2 relative">
      <Container>
        <div
          class="flex justify-between items-center gap-6 md:text-lg text-heading-3"
        >
          <div>
            &copy; <span id="year"></span> Scheeren Tec GmbH. Alle Rechte vorbehalten.
          </div>
          <div>
            HRB 24600 – AG Aachen
          </div>
        </div>
      </Container>
    </div>
  </footer>
</div>
